body {
    margin: 0;
    padding: 0;
    font-family: cursive, Arial, sans-serif;
    color: #666;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px;
}

header {
    background: #ffffff;
    color: black;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    box-shadow: 0 0 30px rgba(185, 173, 173, 0.653);
    z-index: 1;
}
a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
.nombre:hover{
    border-bottom: 2px solid #919090;
    padding-bottom: 5px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container h2 {
    margin: 0;
}

.container .menu {
    line-height: 80px;
    float: right;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #919090;
    padding-bottom: 5px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 1%;
}

.producto {
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s ease-in-out;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(185, 173, 173, 0.653);
}

.producto img {
    max-width: 100%;
    height: auto;
    transition: transform 0.4s ease-in-out;
}

.producto:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px rgba(89, 87, 87, 0.653);
}

.producto .ver-mas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.producto:hover .ver-mas {
    opacity: 1;
}

.producto .descripcion {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
}

.producto .descripcion.visible {
    max-height: 200px;
}

.ver-mas-btn {
    display: block;
    position: absolute;
    left: 30%;
    margin: 10px auto;
    background-color: rgb(255,127, 52);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
    
}

.ver-mas-btn:hover {
    opacity: 0.8;
}

.slider-container {
    margin-top: 7%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 0 20px rgba(89, 87, 87, 0.653);
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}


footer {
    background: #fff4f4;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    clear: both;
}
.Des {
    margin-top: 30%;
    background-color: #fdfafa; /* Color de fondo del contenedor de descripción */
    padding: 20px; /* Añade espacio alrededor del contenido */
   
}

.Descrip { /* Ancho máximo del contenido de descripción */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    text-align: justify;
    width: 80%;
}

.Descrip h2 {
    color: #333; /* Color del texto del encabezado */
}

.Descrip p {
    color: #666; /* Color del texto del párrafo */
}

.Vis {
    margin-top: 5%;
    background-color: #fdfafa; /* Color de fondo del contenedor de descripción */
    padding: 20px; /* Añade espacio alrededor del contenido */
}

.Visi {
    max-width: 800px; /* Ancho máximo del contenido de descripción */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

.Visi h2 {
    color: #333; /* Color del texto del encabezado */
}

.Vis p {
    color: #666; /* Color del texto del párrafo */
}
.NO {
    margin-top: 5%;
    background-color: #fdfafa; /* Color de fondo del contenedor de descripción */
    padding: 20px; /* Añade espacio alrededor del contenido */
    text-align: center;
}
.NO h2 {
    color: #333; /* Color del texto del encabezado */
    text-align: center;
}
.tarjeta {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarjeta img {
    width: 150px;
}

.tarjeta h2 {
    color: #333;
}

.tarjeta ul {
    list-style: none;
    padding: 0;
}

.tarjeta li {
    margin: 10px 0;
}

.tarjeta p.precio {
    font-size: 1.5em;
    margin: 10px 0;
}

.btn-comprar {
    background-color: rgb(255,127, 52);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-comprar:hover {
    background-color: rgb(230, 111, 42);
    transform: s;
}
footer {
    background: #fff4f4;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    clear: both;
}
.container {
    display: flex;
    align-items: left;
}

.container img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    margin-right: 1px; /* Espacio entre la imagen y el texto */
    scale:150%;
}

.container h2 {
    margin: 0;
}