/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: cursive, Arial, sans-serif;
    color: #666;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px;
}

/* Encabezado */
.header {
    background: #ffffff;
    color: black;
    height: 80px;
    border-radius: 10px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    z-index: 1;
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu, .logo {
    float: left;
    line-height: 80px;
}

.container .btn-menu label {
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.container .menu {
    float: right;
    line-height: 80px;
}






.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}


/* Imágenes */
img {
    display: block;
    margin: auto;
}

/* Contenido principal */
#main-content2 {
    background-image: url("Imagenes/hueyapan.jpg");
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

#main-content2 header,
#main-content2 .content {
    padding: 40px;
}

/* Pie de página */
#main-footer {
    background: #fff4f4;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    clear: both;
}

#main-footer p {
    margin: 0;
}

#main-footer a {
    color: black;
}

/* Consulta de medios para hacerlo responsive */
@media (max-width: 768px) {
    .container .btn-menu, .logo, .container .menu {
        float: none;
        line-height: normal;
        text-align: center;
    }

    .container .menu {
        margin-top: 20px;
    }

    .container .menu a {
        display: block;
        padding: 10px;
    }

    .cont-menu {
        max-width: 100%;
    }

    .cont-menu nav {
        transform: translateY(0%);
    }
   
}
