body {
    margin: 0;
    padding: 0;
    font-family: cursive, Arial, sans-serif;
    color: #666;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px;
}

header {
    background: #ffffff;
    color: black;
    height: 80px;
    border-radius: 10px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    box-shadow: 0 0 20px rgba(185, 173, 173, 0.653);
    z-index: 1;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .menu {
    float: right;
    line-height: 80px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #919090;
    padding-bottom: 5px;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 10px;
    width: 200px;
    height: auto;
}

.producto {
    position: relative;
    border: 1px solid #ddd;
    padding: 5px; 
    margin: 10px;
    text-align: center;
    cursor: pointer; /* Cambia el cursor al pasar sobre el producto para indicar que es interactivo */
}

.producto .imagen-container {
    position: relative;
}

.producto img {
    max-width: 100%; 
    height: auto;
    transition: transform 0.4s ease-in-out;
}

.producto .ver-mas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.producto:hover img {
    transform: scale(1.1);
}

.producto:hover .ver-mas {
    opacity: 1;
}

.producto .descripcion {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
}

.producto .descripcion.visible {
    max-height: 200px; /* Ajusta la altura máxima según sea necesario */
}

.ver-mas-btn {
    display: block;
    margin: 10px auto; /* Centra el botón horizontalmente */
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
}

.ver-mas-btn:hover {
    opacity: 0.8;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.capa {
    display: flex;
    justify-content: center; /* Alineación horizontal al centro */
    align-items: center; /* Alineación vertical al centro */
    height: 70px; /* 100% de la altura de la ventana */
    text-align: center; /* Alineación del texto al centro si es necesario */
}

.capa p {
    max-width: 80%; /* Ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente dentro de .capa */
}
