body {
    margin: 0;
    padding: 0;
    font-family: cursive, Arial, sans-serif;
    color: #666;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px;
}

header {
    background: #ffffff;
    color: black;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    box-shadow: 0 0 30px rgba(185, 173, 173, 0.653);
    z-index: 1;
}

.slider-container {
    .slider-container {
        margin-top: 7%;
        height: 524px; /* Altura fija en píxeles */
        width: 100%; /* Ancho del 100% */
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 0 20px rgba(89, 87, 87, 0.653);
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
.nombre:hover{
    border-bottom: 2px solid #919090;
    padding-bottom: 5px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container h1 {
    margin: 0;
}

.container .menu {
    line-height: 80px;
    float: right;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #919090;
    padding-bottom: 5px;
}
.product-container {
    max-width: 700px;
    margin: 0 auto; /* Centra el contenedor */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product {
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(185, 173, 173, 0.653);
}

.product img {
    max-width: 100%;
    height: auto;
}

.price {
    font-size: 1.2em;
    color: green;
  
}
.Agregar{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-align: center;
    border: none;
    text-decoration: none;
    border-radius: 20px; 
    background-color: rgb(255,127, 52);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(89, 87, 87, 0.653);
}
.Agregar:hover{
    background-color:  rgb(230, 111, 42);
    color: #fff;
}
.Agregar:active {
    background-color: rgb(230, 111, 42);
    border: 2px solid  rgb(230, 111, 42);
    color: #fff;
}



footer {
    background: #fff4f4;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    clear: both;
}
